#menulist {
    background-color: green; 
    position: fixed; 
    width: 1000px; 
    height: 7000px; 
    font-size: 160px; 
    overflow: auto; 
    display: none; 

    a {
        color: black; 
        text-decoration: none; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        position: absolute; 
        left: 90px; 
    }
}

p11 {
    white-space: nowrap; 
    font-size: 250px; 
    position: absolute; 
    top: 130px; 
    left: 70px; 
}

p14 {
    position: absolute; 
    top: 280px; 
    font-size: 250px; 
    left: 70px; 
}

p15 {
    position: absolute; 
    top: 470px; 
    white-space: nowrap; 
    font-size: 140px; 
    left: 60px; 
}

p19 {
    position: absolute; 
    top: 700px; 
    left: 40px; 
}

#x {
    position: absolute; 
    width: 200px; 
    top: -90px; 
}

#cllogo2 {
    position: absolute; 
    top: 1530px;
    width: 700px;  
    left: 140px; 

}
